@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
/* font-family: 'Aboreto', cursive; 
   Para Títulos */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* font-family: 'Dosis', sans-serif; 
   Para Textos */
@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;400;500;600;700;800&display=swap');
/* font-family: 'Anek Telugu', sans-serif; 
   Para Links */

:root{
    --cor01: white;
    --cor02: black;
    --cor03: #507681;
    --cor04: #CA6077;
    --cor05: #CCCDD0;
    --cor06: #633010;
    --cor07: #D58389;

    --cor08: #ff0000;
    --cor09: #240d38;

    --cor10: #681729;

    /*
    --cor03: #1f003a;
    --cor04: #9828FA;
    --cor05: #7800E0;
    --cor06: #3D1361;
    --cor07: #5C00AD;
    --cor08: #ff0000;
    --cor09: #240d38;
    */

    --fonteTitulo: 'Aboreto', cursive;
    --fontePadrao: 'Dosis', sans-serif;
    --fonteLinks: 'Anek Telugu', sans-serif;
}

*{
   margin: 0px;
}

body{
   background-image: linear-gradient(to bottom, var(--cor07), var(--cor04));
}

/*----------------------- HEADER -----------------------*/

header{
   background-color: var(--cor04);
   height: 400px;
   color: var(--cor02);
}

h1{
   color: var(--cor01);
   font-family: 'Aboreto', cursive;
   text-align: center;
   font-size: 72px;
   height: 200px;
}

h2{
   color: var(--cor01);
   font-family: 'Dosis', sans-serif;
}

header > h1 > img {
   width: 200px;
   height: 200px;
   margin: 10px 20px 0px 10px;
   vertical-align: -70px;
}

nav#navHeader{
   padding-top: 30px;
   text-align: left;
   margin-left: auto;
   width: 1020px;
   height: 70px;
}

nav#navHeader > a{
   padding: 5px 10px 0px 10px;
   background-color: var(--cor09);
   margin: 0px 10px;
   color: var(--cor01);
   text-decoration: none;
   border-radius: 10px;
   font-size: 22px;
   font-family: var(--fonteLinks);
}

nav#navHeader > a:hover{
   background-color: var(--cor10);
}

/*----------------------- HEADER -----------------------*/

/*------------------------ MAIN ------------------------*/

main{
   background-image: linear-gradient(to bottom, var(--cor04), var(--cor07), var(--cor04));
}

div.centralizar{
   background-color: var(--cor09);
   display: block;
   margin: 0px auto;
   height: 380px;
   width: 1450px;
   border-radius: 20px;
   box-shadow: 0px 0px 3px 0px var(--cor);
}

h2#tituloLivros1{
   background-color: var(--cor10);
   text-align: center;
   width: 200px;
   margin: 0px auto 20px auto;
   border-radius: 30%;
   border: 5px solid var(--cor02);
}

h2#tituloLivros2, h2#tituloLivros3{
   background-color: var(--cor10);
   text-align: center;
   width: 200px;
   margin: 50px auto 20px auto;
   border-radius: 30%;
   border: 5px solid var(--cor02);
}

a.seta_esquerda > img{
   height: 70px;
   width: 70px;
   border-radius: 50%;
   margin-left: 30px;
   vertical-align: 140px;
}

a.seta_direita > img{
   height: 70px;
   width: 70px;
   border-radius: 50%;
   vertical-align: 140px;
}

/*----- Auto Ajuda e Neurociência -----*/

div#autoAjuda_e_Neurociencia{
   background-color: var(--cor09);
   display: block;
   margin: 10px auto;
   height: 380px;
   width: 1500px;
   border-radius: 20px;
   box-shadow: 0px 0px 3px 0px var(--cor02);
   border: 3px solid var(--cor02);
}

a.sessaoLivrosAutoAjuda_e_Neurociencia{
   display: inline-block;
   color: var(--cor01);
   text-align: center;
   text-decoration: none;
   font-size: 23px;
   font-weight: 600;
   margin: 10px;
   height: 300px;
   width: 220px;
   border: 1px solid var(--cor02);
   font-family: var(--fontePadrao);
}

a.sessaoLivrosAutoAjuda_e_Neurociencia > img{
   height: 300px;
   width: 220px;
   border-radius: 5px;
}

a.sessaoLivrosAutoAjuda_e_Neurociencia:hover{
   text-decoration: underline;
   border: 1px solid var(--cor01);
   border-radius: 5px;
   color: var(--cor01);
}

a.sessaoLivrosAutoAjuda_e_Neurociencia:active{
   color: var(--cor04);
}

/*----- Terror -----*/

div#terror{
   background-color: var(--cor09);
   display: block;
   margin: 10px auto;
   height: 380px;
   width: 1500px;
   border-radius: 20px;
   box-shadow: 0px 0px 3px 0px var(--cor02);
   border: 3px solid var(--cor02);
}

a.sessaoLivrosTerror{
   display: inline-block;
   color: var(--cor01);
   text-align: center;
   text-decoration: none;
   font-size: 23px;
   font-weight: 600;
   margin: 10px;
   height: 300px;
   width: 220px;
   border: 1px solid var(--cor02);
   font-family: var(--fontePadrao);
}

a.sessaoLivrosTerror > img{
   height: 300px;
   width: 220px;
   border-radius: 5px;
}

a.sessaoLivrosTerror:hover{
   text-decoration: underline;
   border: 1px solid var(--cor01);
   border-radius: 5px;
   color: var(--cor01);
}

a.sessaoLivrosTerror:active{
   color: var(--cor04);
}

/*----- Ficção -----*/

div#ficcao{
   background-color: var(--cor09);
   display: block;
   margin: 10px auto;
   height: 380px;
   width: 1500px;
   border-radius: 20px;
   box-shadow: 0px 0px 3px 0px var(--cor02);
   border: 3px solid var(--cor02);
}

a.sessaoLivrosFiccao{
   display: inline-block;
   color: var(--cor01);
   text-align: center;
   text-decoration: none;
   font-size: 23px;
   font-weight: 600;
   margin: 10px;
   height: 300px;
   width: 220px;
   border: 1px solid var(--cor02);
   font-family: var(--fontePadrao);
}

a.sessaoLivrosFiccao > img{
   height: 300px;
   width: 220px;
   border-radius: 5px;
}

a.sessaoLivrosFiccao:hover{
   text-decoration: underline;
   border: 1px solid var(--cor01);
   border-radius: 5px;
   color: var(--cor01);
}

a.sessaoLivrosFiccao:active{
   color: var(--cor04);
}

/*------------------------ MAIN ------------------------*/

/*------------------------ FOOTER ------------------------*/

footer{
   background-color: var(--cor04);
}

a#linkCreator{
   color: var(--cor01);
   text-decoration: none;
   font-family: var(--fonteLinks);
   font-weight: bold;
}

a#linkCreator:hover{
   text-decoration: overline;
   color: var(--cor10);
}

a#linkCreator:active{
   color: var(--cor01);
}

p#creatorFooter{
   color: var(--cor01);
   padding: 15px 0px 0px 0px;
   width: 300px;
   margin: 10px auto;
   font-family: var(--fonteLinks);
}

footer > p{
   color: var(--cor01);
   font-size: 18px;
}

/*------------------------ FOOTER ------------------------*/